body {
    font-family: Futura!important;
    letter-spacing: 0.03em!important;
}

.bg-red{
    background-color: rgb(138, 64, 64);
}

.hover {
    cursor: pointer;
}

.hover:hover {
    opacity: 0.7;
}

.userInfoBorder{
    border:0.25rem solid #343a40;
}

.flowHeight{
    height: 80%;
}

.selectItem:hover {
    border: 2px solid rgb(172, 83, 83);
    cursor: pointer;
}
